<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StatsQuery.0" value="select count(*) as Count_All from [{0}]"/>
		<add key="StatsQuery.1" value="select count(*) as Count_Unique from (select distinct [{1}] from [{0}]) as CU"/>
		<add key="StatsQuery.2" value="select min([{1}]) as Minimum, max([{1}]) as Maximum from [{0}]"/>
		<add key="StatsQuery.3" value="select max([{1}]) - min([{1}]) as Range, avg([{1}]) as Mean_Average, (min([{1}])+max([{1}]))/2 as Median_Average from [{0}]"/>
		<add key="StatsQuery.4" value="select var([{1}]) as Variance, stdev([{1}]) as Standard_Deviation, avg([{1}])-stdev([{1}]) as σ_Minimum, avg([{1}])+stdev([{1}]) as σ_Maximum, avg([{1}])-1.4*stdev([{1}]) as 1_4σ_Minimum, avg([{1}])+1.4*stdev([{1}]) as 1_4σ_Maximum, avg([{1}])-2*stdev([{1}]) as 2σ_Minimum, avg([{1}])+2*stdev([{1}]) as 2σ_Maximum from [{0}]"/>
		<add key="StatsQuery.5" value="select min(char_length([{1}])) as Length_Minimum, max(char_length([{1}])) as Length_Maximum, max(char_length([{1}])) - min(char_length([{1}])) as Length_Range, avg(char_length([{1}])) as Length_Mean_Average, (min(char_length([{1}]))+max(char_length([{1}])))/2 as Length_Median_Average from [{0}]"/>
		<add key="StatsQuery.6" value="select min(data_length([{1}])) as Length_Minimum, max(data_length([{1}])) as Length_Maximum, max(data_length([{1}])) - min(data_length([{1}])) as Length_Range, avg(data_length([{1}])) as Length_Mean_Average, (min(data_length([{1}]))+max(data_length([{1}])))/2 as Length_Median_Average from [{0}]"/>
		<add key="StatsQuery.7" value="select min(len([{1}])) as Length_Minimum, max(len([{1}])) as Length_Maximum, max(len([{1}])) - min(len([{1}])) as Length_Range, avg(len([{1}])) as Length_Mean_Average, (min(len([{1}]))+max(len([{1}])))/2 as Length_Median_Average from [{0}]"/>
		<add key="StatsQuery.8" value="select var(char_length([{1}])) as Length_Variance, stdev(char_length([{1}])) as Length_Standard_Deviation, avg(char_length([{1}]))-stdev(char_length([{1}])) as Length_σ_Minimum, avg(char_length([{1}]))+stdev(char_length([{1}])) as Length_σ_Maximum, avg(char_length([{1}]))-1.4*stdev(char_length([{1}])) as Length_1_4σ_Minimum, avg(char_length([{1}]))+1.4*stdev(char_length([{1}])) as Length_1_4σ_Maximum, avg(char_length([{1}]))-2*stdev(char_length([{1}])) as Length_2σ_Minimum, avg(char_length([{1}]))+2*stdev(char_length([{1}])) as Length_2σ_Maximum from [{0}]"/>
		<add key="StatsQuery.9" value="select var(data_length([{1}])) as Length_Variance, stdev(data_length([{1}])) as Length_Standard_Deviation, avg(data_length([{1}]))-stdev(data_length([{1}])) as Length_σ_Minimum, avg(data_length([{1}]))+stdev(data_length([{1}])) as Length_σ_Maximum, avg(data_length([{1}]))-1.4*stdev(data_length([{1}])) as Length_1_4σ_Minimum, avg(data_length([{1}]))+1.4*stdev(data_length([{1}])) as Length_1_4σ_Maximum, avg(data_length([{1}]))-2*stdev(data_length([{1}])) as Length_2σ_Minimum, avg(data_length([{1}]))+2*stdev(data_length([{1}])) as Length_2σ_Maximum from [{0}]"/>
		<add key="StatsQuery.10" value="select var(len([{1}])) as Length_Variance, stdev(len([{1}])) as Length_Standard_Deviation, avg(len([{1}]))-stdev(len([{1}])) as Length_σ_Minimum, avg(len([{1}]))+stdev(len([{1}])) as Length_σ_Maximum, avg(len([{1}]))-1.4*stdev(len([{1}])) as Length_1_4σ_Minimum, avg(len([{1}]))+1.4*stdev(len([{1}])) as Length_1_4σ_Maximum, avg(len([{1}]))-2*stdev(len([{1}])) as Length_2σ_Minimum, avg(len([{1}]))+2*stdev(len([{1}])) as Length_2σ_Maximum from [{0}]"/>
		<add key="StatsQuery.11" value="select top 1 [{1}] as Mode_Average, count(*) as Mode_Count from [{0}] group by [{1}] having count(*) > 1 order by count(*) desc"/>
		<add key="ColumnDataQuery" value="select [{1}], count(*) as [Count] from [{0}] group by [{1}] order by count(*) desc"/>
		<add key="SimpleColumnDataQuery" value="select [{1}], 1 as [Count] from [{0}]"/>
		<add key="RowCountQuery" value="select count(*) from [{0}]"/>
		<add key="TableSampleQuery" value="select top 5 percent * from [{0}]"/>
		<add key="TableDataQuery" value="select * from [{0}]"/>
		<add key="MagicNumberLiteXml" value="DBScopeMagic.xml"/>
	</appSettings>
	<connectionStrings>
		<add name="NorthwindDB" connectionString="Driver={Microsoft Access Driver (*.mdb)};Dbq=C:\Program Files\Microsoft.NET\SDK\v2.0\QuickStart\aspnet\samples\data\App_Data\Northwind.mdb" providerName="System.Data.Odbc"/>
	</connectionStrings>
	<system.diagnostics>
		<switches>
			<add name="TraceLevelSwitch" value="4"/>
		</switches>
		<trace autoflush="true">
			<listeners>
				<!-- add name="LogFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DBScope.log" / -->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>